<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcengine.zeus.plugin_impl">

    <application android:name="com.volcengine.zeus.plugin_impl.PluginApplication">
        <activity android:name=".PluginMainActivity">
            <intent-filter>
                <!--故意加一个intent-filter，用于测试warningExemptions-->
                <action android:name="${applicationId}.warningExemptions" />
            </intent-filter>
        </activity>

        <service android:name=".PluginService" />

        <service android:name=".PluginIntentService" />

        <receiver
            android:name=".PluginReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.PluginReceiver" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".PluginContentProvider"
            android:authorities="${applicationId}.pluginprovider"
            android:exported="false" />
    </application>

</manifest>