<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcengine.zeus.plugin_impl">

    <application android:name="com.volcengine.zeus.plugin_impl.PluginApplication">
        <activity android:name=".PluginMainActivity">
            <intent-filter>
                <!--故意加一个intent-filter，用于测试warningExemptions-->
                <action android:name="${applicationId}.warningExemptions" />
            </intent-filter>
        </activity>
    </application>

</manifest>