<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcengine.zeus.plugin_api">

    <application>
        <meta-data
            android:name="ZEUS_PLUGIN_${zeusPluginPkgName}"
            android:value="{
                apiVersionCode:${zeusApiVersionCode},packageName: ${zeusPluginPkgName},
                minPluginVersion:${minPluginVersion},maxPluginVersion:${maxPluginVersion},
                signature:'${signature}',
                internalPath:'${internalPath}',internalVersionCode:${internalVersionCode},
                appKey:'${appKey}',appSecretKey:'${appSecretKey}'
            }" />
    </application>
</manifest>